<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AutoRest as a Service</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AutoRest as a Service</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

  </div>
</div>

<div class="container">
  <%= form_tag("/generate/create", method: "post") do %>
      <fieldset class="form-group">
      <%= label_tag(:autorestVersion, "AutoRest Version") %>
      <%= select_tag(:autorestVersion, options_for_select([
                                                                ['0.17.0-Nightly20160725', "0.17.0-Nightly20160725"],
                                                                ['0.17.0-Nightly20160724', "0.17.0-Nightly20160724"],
                                                                ['0.17.0-Nightly20160723', "0.17.0-Nightly20160723"],
                                                                ['0.17.0-Nightly20160722', "0.17.0-Nightly20160722"],
                                                                ['0.17.0-Nightly20160721', "0.17.0-Nightly20160721"]]
      ), {:class => 'form-control'})  %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:specUrl, "Swagger Spec Url") %>
        <%= text_field_tag(:specUrl, nil, {:placeholder => 'Swagger Specification Url', :class => 'form-control', :required => true}) %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:addCredentials, "Add Credentials") %>
        <%= select_tag(:addCredentials, options_for_select([
                                                                ['true', "true"],
                                                                ['false', "false"]]
        ), {:class => 'form-control'})  %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:clientName, "Client Name") %>
        <%= text_field_tag(:clientName, nil, {:placeholder => 'Client Name', :class => 'form-control', :required => true}) %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:codeGenerator, "AutoRest Code Generator") %>
        <%= select_tag(:codeGenerator, options_for_select([
                                                                ['CSharp', "CSharp"],
                                                                ['Java', "Java"],
                                                                ['NodeJS', "NodeJS"],
                                                                ['Python', "Python"],
                                                                ['Ruby', "Ruby"],
                                                                ['Azure.CSharp', "Azure.CSharp"],
                                                                ['Azure.Java', "Azure.Java"],
                                                                ['Azure.NodeJS', "Azure.NodeJS"],
                                                                ['Azure.Python', "Azure.Python"],
                                                                ['Azure.Ruby', "Azure.Ruby"],
                                                                ['AzureResourceSchema', "AzureResourceSchema"]]
        ), {:class => 'form-control'})  %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:header, "Header") %>
        <%= select_tag(:header, options_for_select([
                                                              ['NONE', "NONE"],
                                                              ['MICROSOFT_MIT', "MICROSOFT_MIT"],
                                                              ['MICROSOFT_MIT_NO_VERSION', "MICROSOFT_MIT_NO_VERSION"]]
        ), {:class => 'form-control'})  %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:modeler, "Modeler") %>
        <%= select_tag(:modeler, options_for_select([
                                                       ['Swagger', "Swagger"],
                                                       ['CompositeSwagger', "CompositeSwagger"]]
        ), {:class => 'form-control'})  %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:namespace, "SDK Namespace") %>
        <%= text_field_tag(:namespace, nil, {:placeholder => 'SDK Namespace', :class => 'form-control', :required => true}) %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:packageName, "SDK Package Name") %>
        <%= text_field_tag(:packageName, nil, {:placeholder => 'SDK Package Name', :class => 'form-control', :required => true}) %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:packageVersion, "SDK Package Version") %>
        <%= text_field_tag(:packageVersion, nil, {:placeholder => 'SDK Package Version', :class => 'form-control', :required => true}) %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:payloadFlatteningThreshold, "Payload Flattening Threshold") %>
        <%= text_field_tag(:payloadFlatteningThreshold, nil, {:placeholder => 'Payload Flattening Threshold', :class => 'form-control'}) %>
      </fieldset>

      <fieldset class="form-group">
        <%= label_tag(:validationLevel, "SDK Generation validation level") %>
        <%= text_field_tag(:validationLevel, nil, {:placeholder => 'SDK Generation validation level', :class => 'form-control'}) %>
      </fieldset>

      <div class="checkbox">
        <label>
          <input type="checkbox" required="required"> I agree to Terms and conditions.
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
</body>
</html>
